<%- include('../includes/admin-nav.ejs') %>

<section class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        Admin Dashboard / Profile
      </li>
    </ol>
  </nav>
</section>

<section class="container">
  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
    Add New Admin
  </button>
  <br><br>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Admin</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" action="/admin/profile">
            <label> Name:*</label>
            <input type="text" required name="name" placeholder="Name" class="form-control"><br>
            <label> Email:*</label>
            <input type="text" required name="email" placeholder="Email" class="form-control"><br>
            <label>Password:*</label>
            <input type="password" required name="password" placeholder="Password" class="form-control"><br>
            <label>Confirm Password:*</label>
            <input type="password" required name="cpassword" placeholder="Password" class="form-control"><br>
            <input type="submit" name="login-as-admin" value="Save Now" class="btn btn-info">
            <!-- redirect to admin folder index.html when login success -->
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 border p-2 text-center">
      <h4 class="text-danger">All Admins</h4>
      <% if(admins.length > 0) { %>
        <table class="table table-sm table-bordered table-striped table-hover">
          <tr>
            <th>Sl no</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
          <% for(let i = 1; i <= admins.length; i++) { %>
            <tr>
              <td><%= i %></td>
              <td><%= admins[i-1].name %></td>
              <td>
                <a href="/admin/profile/<%= admins[i-1]._id %>">
                  <button class="btn btn-danger">Delete <span class="fa fa-trash"></span></button></td>
                </a>
              </tr>
          <% } %>
        </table>
      <% } else { %>
        <h1>No Admin Registered</h1>
      <% } %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 border p-2 text-center">
      <h4 class="text-primary">Password Reset</h4> 
      <% if(successMessage) { %>
        <br>
        <div class="text-center" style="color: green;"><%= successMessage %></div>
        <br>
      <% } %>
      <% if(errorMessage) { %>
        <br>
        <div class="text-center" style="color: red;"><%= errorMessage %></div>
        <br>
      <% } %>
      <form method="POST" action="/admin/update-password">
        <table class="table table-sm table-hover table-bordered">
          <tr>
            <th>Name</th>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <th>Email</td>
            <td>
              <input type="adminEmail" disabled name="emailHidden" class="form-control" placeholder="Admins email" value="<%= user.email %>"> 
              <input type="adminEmail" hidden name="email" class="form-control" placeholder="Admins email" value="<%= user.email %>">     
            </td>
          </tr>
          <tr>
            <th>Password</td>
            <td><input type="password" name="password" class="form-control" placeholder="New Password"></td>
          </tr>
          <tr>
            <th>Confirm Password</td>
            <td><input type="password" name="cpassword" class="form-control" placeholder="Confirm New Password"></td>
          </tr>
          <tr>
            <td><input type="input" hidden name="_id" value="<%= user._id %>"></td>
            <td><input type="submit" name="adminSubmit" value="Save changes" class="btn btn-primary"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</section>

<br><br><br><br><br>

<%- include('../includes/footer.ejs') %>