<%- include('../includes/admin-nav.ejs') %>

<section class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        Admin Dashboard / View Exams
      </li>
    </ol>
  </nav>
</section>

<section>
  <div class="container">
    <div class="card mb-4">
      <div class="card-header"><i class="fa fa-pencil-square-o mr-1"></i>
          All Exams
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <% if(exams.length > 0) { %>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Sl no</th>
                  <th>Title</th>
                  <th>File</th>   
                </tr>
              </thead>
              <tbody>
                <% for(let i = 1; i <= exams.length; i++) { %>
                  <tr>
                    <td><%= i %></td>
                    <td><%= exams[i-1].examTitle %></td>
                    <td>
                      <a href="/admin/view-exam/<%= exams[i-1]._id %>">
                        <button class="btn btn-info">Download <span class="fa fa-cloud-download"></span></button>
                      </a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% } else { %>
            <h1>No Exams Registered</h1>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br>

<%- include('../includes/footer.ejs') %>